:root {
  --color-basic: rgba(1, 28, 68, 1);
  --color-brand: rgba(43, 127, 255, 1);
}

.body {
  color: var(--color-basic);
  font-family: "roboto", sans-serif;
}

/* nav menu */

ul {
  list-style-type: none;
}
.button-main {
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  background-color: var(--color-brand);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.button-main:hover {
  color: var(--color-basic);
  background-color: transparent;
}

.coment-button {
  color: rgba(74, 74, 74, 1);
}

.link-header {
  color: var(--color-basic);
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-header:hover {
  color: var(--color-brand);
}

/* section 1 */

.hero-title {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  font-style: normal;
  line-height: 144px;
  text-transform: capitalize;
}

/* section about us */

.section-title {
  color: var(--color-basic);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand);
}
